<div *ngIf="pages.length" class="flex flex-row">
    <div class="flex flex-row" *ngIf="currentPage > range + 1">
        <div
            tabindex="1"
            class="px-2 mx-0.5 btn bg-neutral min-h-min h-6"
            (click)="onPageClick(1)"
            (keypress)="onPageClick(1)"
        >
            {{ 1 }}
        </div>
        <div>. . .</div>
    </div>

    <div
        tabindex="1"
        class="px-2 mx-0.5 btn min-h-min h-6 text-content-base"
        [ngClass]="{
            'bg-base-content text-neutral': page === currentPage,
            'bg-neutral': page !== currentPage,
        }"
        *ngFor="let page of pages"
        (click)="onPageClick(page)"
        (keypress)="onPageClick(page)"
    >
        {{ page }}
    </div>

    <div class="flex flex-row" *ngIf="currentPage < max - range">
        <div>. . .</div>
        <div
            tabindex="1"
            class="px-2 mx-0.5 btn bg-neutral min-h-min h-6"
            (click)="onPageClick(max)"
            (keypress)="onPageClick(max)"
        >
            {{ max }}
        </div>
    </div>
</div>
