<div class="flex flex-col items-center">
    <div class="bg-base-200 rounded-2xl max-w-xs">
        <div>
            <div class="text-lg text-center mt-5">
                {{ 'labels.password-recovering' | translate }}
            </div>
            <div class="text-center text-sm text-info">
                {{ 'labels.enter-new-password' | translate }}
            </div>
        </div>
        <form #formRecoverPassword="ngForm" class="px-12" (submit)="onSubmit(formRecoverPassword)">
            <div class="form-control">
                <input
                    type="password"
                    placeholder="{{ 'forms.password' | translate }}"
                    id="password"
                    name="password"
                    class="input-sm bg-neutral mt-2 input input-bordered"
                    [ngClass]="{
                        'input-error':
                            formRecoverPassword.controls['password']?.touched &&
                            formRecoverPassword.controls['password']?.invalid,
                    }"
                    required
                    ngModel
                    minlength="8"
                    autocomplete="new-password"
                />
            </div>
            <div class="form-control">
                <input
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="{{ 'forms.password-confirm' | translate }}"
                    class="input-sm bg-neutral mt-2 input input-bordered"
                    [ngClass]="{
                        'input-error':
                            formRecoverPassword.controls['confirmPassword']?.touched &&
                            (formRecoverPassword.controls['confirmPassword']?.invalid ||
                                formRecoverPassword.controls['password']?.value !==
                                    formRecoverPassword.controls['confirmPassword']?.value),
                    }"
                    required
                    ngModel
                    minlength="8"
                    autocomplete="off"
                />
                <label for="confirmPassword" class="flex flex-col label items-start">
                    <span
                        class="label-text-alt text-error"
                        *ngIf="
                            formRecoverPassword.controls['confirmPassword']?.touched &&
                            formRecoverPassword.controls['password']?.value !==
                                formRecoverPassword.controls['confirmPassword']?.value
                        "
                    >
                        {{ 'forms-errors.password-not-equal' | translate }}
                    </span>
                    <span
                        class="label-text-alt text-error"
                        *ngIf="
                            formRecoverPassword.controls['password']?.touched &&
                            formRecoverPassword.controls['password']?.value?.length < 8
                        "
                    >
                        {{ 'forms-errors.password-length' | translate }}
                    </span>
                </label>
            </div>
            <div class="flex flex-col items-center mb-5">
                <app-limit-loader [limit]="1" [reqName]="limitNames.sendRecover">
                    <button class="btn btn-accent text-base-100 min-h-fit h-8">
                        {{ 'forms.save' | translate }}
                    </button>
                </app-limit-loader>
            </div>
        </form>
    </div>
</div>
