<div class="flex-col bg-base-100 rounded my-2">
  <div class="ms-3">
    <div class="text-error" *ngIf="post.topic.deletedAt">
      {{ 'lables.deleted' | translate }}
    </div>
    <div class="flex flex-row my-2">
      <div class="my-auto me-2">
        <div class="avatar">
          <div class="w-12 rounded me-2">
            <img src="{{resourceUrl}}/{{post.sender.avatarPath}}" loading="lazy" alt="{{ 'profile.avatar' | translate }}">
          </div>
        </div>
      </div>
      <div class="flex flex-col text-sm">
        <a routerLink="/forum/topic/{{post.topic.id}}" class="link no-underline text-lg">
          {{post.topic.title}}
        </a>
        <div class="text-sm text-secondary-content">
          {{post.post.createdAt | withtimezone | date:'HH:mm, d MMM' }}
        </div>
        <div class="flex flex-row -ms-7 -mt-1">
          <div class="avatar">
            <div class="w-6 rounded-full">
              <a routerLink="/forum/{{post.forum.id}}">
                <img src="{{resourceUrl}}/{{post.forum.imagePath}}" loading="lazy" alt="{{ 'profile.avatar' | translate }}">
              </a>
            </div>
          </div>
          <div class="h-fit my-auto ms-1">
            <a class="link no-underline text-sm" routerLink="/forum/{{post.forum.id}}">
              {{post.forum.title}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="border-neutral mx-2">
  <div
    class="flex flex-col"
    [ngClass]="{
      'hidden': editMode
    }"
  >
    <div class="mx-3 whitespace-pre-wrap break-all">
      <ckeditor [ngModel]="post.post.content" [editor]="editor" [disabled]="true" class="ck-viewer"></ckeditor>
    </div>
    <div class="flex flex-row mb-2">
      <div class="btn btn-ghost p-0 min-h-min w-fit h-6 mb-1 ms-1" (click)="changeLikeState()">
        <div class="flex flex-row mx-2">
          <div class="my-auto">
            <div>
              {{post.post?.likesCount}}
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 fill-none" viewBox="0 0 24 24"
            [ngClass]="{
              'fill-red-500': post.post.isLiked
            }"
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
              class="stroke-base-content"
              [ngClass]="{
                'stroke-red-500': post.post.isLiked
              }"
              stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="btn btn-ghost p-0 min-h-min w-fit h-6 mb-1 ms-1" *ngIf="enableComments" (click)="toggleCommentsMode()">
        <div class="flex flex-row mx-2">
          <div class="my-auto me-1">
            <div>
              {{post.post.commentsCount}}
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 fill-none" viewBox="0 0 24 24">
            <g>
              <path d="M5.59961 19.9203L7.12357 18.7012L7.13478 18.6926C7.45249 18.4384 7.61281 18.3101 7.79168 18.2188C7.95216 18.1368 8.12328 18.0771 8.2998 18.0408C8.49877 18 8.70603 18 9.12207 18H17.8031C18.921 18 19.4806 18 19.908 17.7822C20.2843 17.5905 20.5905 17.2842 20.7822 16.9079C21 16.4805 21 15.9215 21 14.8036V7.19691C21 6.07899 21 5.5192 20.7822 5.0918C20.5905 4.71547 20.2837 4.40973 19.9074 4.21799C19.4796 4 18.9203 4 17.8002 4H6.2002C5.08009 4 4.51962 4 4.0918 4.21799C3.71547 4.40973 3.40973 4.71547 3.21799 5.0918C3 5.51962 3 6.08009 3 7.2002V18.6712C3 19.7369 3 20.2696 3.21846 20.5433C3.40845 20.7813 3.69644 20.9198 4.00098 20.9195C4.35115 20.9191 4.76744 20.5861 5.59961 19.9203Z"
                class="stroke-base-content stroke-1"
              />
            </g>
          </svg>
        </div>
      </div>
      <div class="text-xs" *ngIf="user && user?.id == post?.sender.id">
        <div class="btn btn-ghost min-h-min h-6" (click)="setEditMode(true)">
          {{ 'forms.edit' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="px-3">
    <div *ngIf="editMode">
      <app-post-editor
        *ngIf="user"
        [postId]="post.post.id"
        [topicId]="post.post.topicId"
        [content]="post.post.content"
        [submitPlaceholder]="'Save'"
        (onCreate)="onPostEdit($event)"
        (onCancel)="setEditMode(false)">
      </app-post-editor>
    </div>
    <div *ngIf="commentsMode">
      <app-comments
        [postId]="post.post.id"
        [topicId]="post.post.topicId"
        [user]="user"
        [commentsCount]="post.post.commentsCount"
        [depth]="depth + 1"
        [isTopicClosed]="isTopicClosed"
        (onCommentsCounterUpdated)="updateCommentsCounter($event)"
        (onClose)="toggleCommentsMode()"
      ></app-comments>
    </div>
  </div>
</div>
