<app-limit-loader [limit]="1" [ignore]="!!profile">
  <ng-template #profileNotFound>
    <div class="flex flex-col items-center text-3xl">
      Profile not found
    </div>
  </ng-template>


  <div class="bg-neutral rounded mx-8" *ngIf="profile; else profileNotFound">
    <div class="flex flex-col p-5">
      <div class="flex flex-col mb-5">
        <div class="text-error mb-2" *ngIf="profile?.ban">
          Banned until: {{profile.ban.expiresAt | date: 'dd.MM.yyyy HH:mm'}}
        </div>
        <div class="flex flex-row">
          <div class="my-auto me-2">
            <div class="avatar">
              <div class="w-20 rounded">
                <img src="{{resourceUrl}}/{{profile.avatarPath}}" loading="lazy">
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="text-3xl min-h-fit h-min text-accent">
              {{profile.username}}
            </div>
            <div [ngSwitch]="profile.role">
              <div *ngSwitchCase="roles.ADMIN" class="text-red-700">Admin</div>
              <div *ngSwitchCase="roles.MODER"class="text-orange-600">Moder</div>
              <div *ngSwitchCase="roles.USER">User</div>
            </div>
            <div>
              Joined: {{profile.createdAt | date: 'dd.MM.yyyy'}}
            </div>
          </div>
        </div>
      </div>
      <div class="stats text-xs shadow w-fit">
        <div class="stat text-center p-2">
          <div class="stat-title">With us</div>
          <div class="stat-value">{{daysBetween}}</div>
          <div class="stat-desc">days</div>
        </div>
        <div class="stat text-center p-2">
          <div class="stat-title">Posts</div>
          <div class="stat-value">{{profile.postsCount}}</div>
          <div class="stat-desc"><pre> </pre></div>
        </div>

        <div class="stat text-center p-2">
          <div class="stat-title">Topics</div>
          <div class="stat-value">{{profile.topicsCount}}</div>
          <div class="stat-desc"><pre> </pre></div>
        </div>
      </div>

      <div class="flex flex-col my-auto mt-5">
        <div class="flex flex-row">
          <div *ngIf="user">
            <a
              *ngIf="this.pChat; else newChat"
              class="btn btn-neutral min-h-fit h-8"
              routerLink="/chats/{{this.pChat.id}}"
            >
              Send message
            </a>
            <ng-template #newChat>
              <div class="btn btn-neutral min-h-fit h-8" (click)="modalStartChat.showModal()">
                Start chat
              </div>
              <dialog #modalStartChat class="modal">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">Start chat with some message</h3>
                  <p class="py-2 text-xs">Press ESC key or click outside to close</p>
                  <form #startChatForm="ngForm" (ngSubmit)="onStartChat(startChatForm)">
                    <div class="form-control">
                      <textarea
                        id="content"
                        name="content"
                        class="textarea textarea-bordered"
                        [ngClass]="{
                          'input-error': startChatForm.controls['content']?.touched && startChatForm.controls['content'].invalid
                        }"
                        placeholder="Type your message here"
                        ngModel
                        required
                        maxlength="3000"
                      >
                      </textarea>
                    </div>
                    <div class="my-4">
                      <app-limit-loader [limit]="1">
                        <button class="btn btn-accent text-base-content min-h-fit h-8">
                          Send
                        </button>
                      </app-limit-loader>
                    </div>
                  </form>
                </div>
                <form method="dialog" class="modal-backdrop">
                  <button>close</button>
                </form>
              </dialog>
            </ng-template>
          </div>

          <a class="btn btn-neutral min-h-fit h-8" routerLinkActive="bg-base-100" routerLink="topics">
              Last topics
          </a>

          <div class="btn btn-neutral min-h-fit h-8" routerLinkActive="bg-base-100" routerLink="posts">
              Last posts
          </div>
        </div>

        <div class="flex flex-row" *ngIf="user && (user.role == roles.ADMIN || user.role == roles.MODER)">
          <app-admin-panel
            [skipRouting]="true"
            [blockUserId]="true">
          </app-admin-panel>
          <app-default-avatar [accountId]="profile.id"></app-default-avatar>
        </div>
      </div>

      <div class="w-fit">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </div>
</app-limit-loader>
