<div class="flex flex-col items-center">
    <div class="bg-base-200 rounded-2xl max-w-xs">
        <div>
            <div class="text-lg text-center mt-5">
                {{ 'labels.password-recovering' | translate }}
            </div>
        </div>
        <form
            *ngIf="!isSended"
            #formRecoverSend="ngForm"
            (submit)="onSubmit(formRecoverSend)"
            class="px-12"
        >
            <div class="form-control">
                <input
                    type="text"
                    id="loginOrEmail"
                    name="loginOrEmail"
                    placeholder="{{ 'labels.login-or-email' | translate }}"
                    class="input-sm bg-neutral mt-2 input input-bordered"
                    [ngClass]="{
                        'input-error':
                            formRecoverSend.controls['loginOrEmail']?.touched &&
                            formRecoverSend.controls['loginOrEmail'].invalid,
                    }"
                    ngModel
                    required
                    autocomplete="on"
                />
            </div>
            <div class="flex flex-col items-center mt-5">
                <app-limit-loader [limit]="1" [reqName]="limitNames.sendRecover">
                    <button class="btn btn-accent text-base-100 min-h-fit h-8">
                        {{ 'forms.send' | translate }}
                    </button>
                </app-limit-loader>
            </div>
        </form>
        <div *ngIf="isSended" class="p-5 text-lg text-accent">
            {{ 'labels.recover-instruction' | translate }}
        </div>
        <div class="link link-hover text-center mb-5 mt-2" routerLink="/login">
            <a>
                {{ 'home.back' | translate }}
            </a>
        </div>
    </div>
</div>
