<div class="group">
  <div class="flex flex-row items-center my-2">
    <div class="basis-8/12 h-full">
      <div class="flex flex-row">
        <div class="avatar">
          <div class="w-10 rounded">
            <img src="{{resourceUrl}}/{{forumRes.forum.imagePath}}" loading="lazy" alt="{{ 'profile.avatar' | translate }}"/>
          </div>
        </div>
        <div class="h-fit my-auto ms-3">
          <a routerLink="/forum/{{forumRes.forum.id}}" class="align-middle link no-underline text-lg">
            {{forumRes.forum.title}}
          </a>
        </div>
      </div>
    </div>
    <div class="basis-1/12 text-center">
      {{forumRes.postsCount}}
    </div>
    <div class="basis-1/12 text-center">
      {{forumRes.topicsCount}}
    </div>
    <div class="basis-3/12 truncate">
      <div class="flex flex-row" *ngIf="forumRes?.lastTopic">
        <div class="me-2 my-auto">
          <div class="avatar">
            <div class="w-10 rounded">
              <a routerLink="/profile/{{forumRes.lastTopic.user.id}}">
                <img src="{{resourceUrl}}/{{forumRes.lastTopic.user.avatarPath}}" loading="lazy" alt="{{ 'profile.avatar' | translate }}"/>
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-col text-sm" *ngIf="forumRes.lastTopic">
          <div class="text-secondary-content text-xs">
            {{forumRes.lastTopic.updatedAt | withtimezone | date: 'dd.MM.yyyy HH:mm'}}
          </div>
          <div>
            <span class="text-secondary-content text-xs">{{ 'forum.topic' | translate }}: </span>
            <a class="link no-underline"
              routerLink="/forum/topic/{{forumRes.lastTopic.id}}"
            >
              {{forumRes.lastTopic.title | truncate:20}}
            </a>
          </div>
          <div>
            <span class="text-secondary-content text-xs">{{ 'forum.author' | translate }}: </span>
            <a class="link no-underline"
              routerLink="/profile/{{forumRes.lastTopic.user.id}}"
            >
              {{forumRes.lastTopic.user.username}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="border-neutral group-hover:border-primary-content">
</div>
