<div class="flex flex-col">
  <div class="mb-3 w-fit">
    <app-search-bar
      [searchQuery]="query"
      [searchParams]="searchParams"
      (onForceSearch)="search()"
      [enableParams]="true"
    >
    </app-search-bar>
  </div>

  <div class="w-fit">
    <app-error-message-list [messages]="errorMessages">
    </app-error-message-list>
  </div>

  <div *ngIf="searchResult">
    <ng-template #emptySearch>
      <div class="ms-5 text-warning">
        {{ 'search.no-results' | translate }}
      </div>
    </ng-template>
    <div *ngIf="searchResult.data.length > 0; else emptySearch">
      <div>
        {{ 'labels.found' | translate }}: {{searchResult.searchCount}}
      </div>
      <div class="py-1">
        <app-paginator
          (changePage)="changePage($event)"
          [max]="searchResult.searchCount / searchPage.pageSize"
          [currentPage]="searchPage.pageNumber">
        </app-paginator>
      </div>

      <div *ngFor="let el of searchResult.data">
        <div [ngSwitch]="el.type">
          <div *ngSwitchCase="resTypes.Topic">
            <app-recent-element
              [post]="{topic: el.data.topic, post: el.data.post, sender: el.data.sender, forum: el.data.forum}" [user]="user" [enableDeliting]="false"
            ></app-recent-element>
          </div>
          <div *ngSwitchCase="resTypes.User">
            <div class="flex flex-row bg-neutral rounded p-3 my-2">
              <div class="my-auto me-2">
                <div class="avatar">
                  <div class="w-20 rounded">
                    <img src="{{resourceUrl}}/{{el.data.avatarPath}}" loading="lazy" />
                  </div>
                </div>
              </div>
              <div class="flex flex-col">
                <a class="text-3xl min-h-fit h-min link no-underline" routerLink="/profile/{{el.data.id}}">
                  {{el.data.username}}
                </a>
                <div [ngSwitch]="el.data.role">
                  <div *ngSwitchCase="roles.ADMIN" class="text-red-700">{{ 'roles.admin' | translate }}</div>
                  <div *ngSwitchCase="roles.MODER"class="text-orange-600">{{ 'roles.moder' | translate }}</div>
                  <div *ngSwitchCase="roles.USER">{{ 'roles.user' | translate }}</div>
                </div>
                <div>
                  {{ 'profile.reg-date' | translate }}: {{el.data.createdAt | date: 'dd.MM.yyyy'}}
                </div>
              </div>
            </div>
          </div>
          <p *ngSwitchDefault>

          </p>
        </div>
      </div>

      <div class="py-1">
        <app-paginator
          (changePage)="changePage($event)"
          [max]="searchResult.searchCount / searchPage.pageSize"
          [currentPage]="searchPage.pageNumber">
        </app-paginator>
      </div>
    </div>
  </div>
  <app-limit-loader [limit]="1">
  </app-limit-loader>
</div>
