<div class="flex flex-col items-start">
    <div class="bg-base-200 rounded-2xl w-full">
        <form #newTopicForm="ngForm">
            <div class="flex flex-col items-start p-5">
                <div class="select-none pt-3 text-2xl text-secondary-content">
                    {{ 'lables.new-topic' | translate }}
                </div>
                <app-error-message-list [messages]="errorMessages"></app-error-message-list>
                <div class="form-control w-1/2">
                    <input
                        type="text"
                        class="input-sm bg-neutral mt-2 input input-bordered"
                        id="title"
                        name="title"
                        placeholder="{{ 'forms.title' | translate }}"
                        [ngClass]="{
                            'input-error':
                                newTopicForm.controls['title']?.touched &&
                                (newTopicForm.controls['title'].errors?.['required'] ||
                                    newTopicForm.controls['title'].value.length < 3 ||
                                    newTopicForm.controls['title'].value.length > 255),
                        }"
                        ngModel
                        required
                        minlength="3"
                        maxlength="255"
                    />
                    <label for="title" class="flex flex-col items-start label pt-0.5">
                        <span
                            class="label-text-alt text-error"
                            *ngIf="
                                newTopicForm.controls['title']?.touched &&
                                newTopicForm.controls['title'].errors?.['required']
                            "
                        >
                            {{ 'forms-errors.title-required' | translate }}
                        </span>
                        <span
                            class="label-text-alt text-error"
                            *ngIf="
                                newTopicForm.controls['title']?.touched &&
                                (newTopicForm.controls['title'].value.length < 3 ||
                                    newTopicForm.controls['title'].value.length > 255)
                            "
                        >
                            {{ 'forms-errors.title-length' | translate }}
                        </span>
                    </label>
                </div>

                <label class="form-control w-full max-w-xs mb-4">
                    <div class="label">
                        <span class="label-text">{{ 'lables.choose-forum' | translate }}</span>
                    </div>
                    <select
                        id="forumId"
                        name="forumId"
                        [ngModel]="forumId"
                        class="select select-bordered bg-neutral h-8 min-h-min"
                        [ngClass]="{
                            'outline outline-error':
                                newTopicForm.controls['forumId']?.touched &&
                                newTopicForm.controls['forumId'].invalid,
                        }"
                        required
                    >
                        <option
                            *ngFor="let name of names"
                            [value]="name.id"
                            [disabled]="!name.isSelectable"
                        >
                            {{ name.isSelectable ? '-- ' + name.title : name.title }}
                        </option>
                    </select>
                </label>

                <div class="form-control w-full">
                    <app-post-editor
                        [submitPlaceholder]="'forms.create' | translate"
                        [cancelPlaceholder]="'forms.cancel' | translate"
                        [inputPlaceholder]="'lables.main-post' | translate"
                        [cancelClassesReplacement]="
                            'btn btn-error ms-3 text-base-100 min-h-fit h-8'
                        "
                        (canceled)="onCancel()"
                        (created)="onSubmit(newTopicForm, $event)"
                    />
                </div>
            </div>
        </form>
    </div>
</div>
