<div class="h-[70vh] relative flex flex-col">
    <div class="border-b-[1px] border-secondary-content">
        <app-limit-loader [limit]="1" [reqName]="limitNames.chatInfoLoad">
            <div class="ps-2 py-2">
                <a
                    *ngIf="chat; else chatNotFound"
                    routerLink="/profile/{{ profileId }}"
                    class="link no-underline"
                >
                    <div>
                        {{ chatName }}
                    </div>
                </a>
                <ng-template #chatNotFound>
                    <div>
                        {{ 'chat.not-found' | translate }}
                    </div>
                </ng-template>
            </div>
        </app-limit-loader>
    </div>
    <div
        #messagesContainer
        class="flex flex-col-reverse overflow-auto overflow-x-hidden mt-auto max-w-full"
    >
        <div>
            <app-limit-loader [reqName]="limitNames.chatLoadMsgs" [limit]="1"></app-limit-loader>
        </div>
        <div *ngFor="let msg of messages" class="mx-2">
            <div
                class="flex flex-row w-fit max-w-[30vw] px-2 py-1 my-1 bg-base-100 rounded"
                [ngClass]="{
                    'ms-auto': msg.sender.id === user?.id,
                }"
            >
                <div class="whitespace-pre-wrap break-all">
                    {{ msg.message.content }}
                </div>
                <div class="text-xs ms-3 text-secondary-content mt-auto">
                    {{
                        msg.message.modifiedAt
                            ? 'edited' + (msg.message.modifiedAt | date: 'shortTime')
                            : (msg.message.createdAt | withtimezone | date: 'shortTime')
                    }}
                </div>
            </div>
        </div>
    </div>
    <div class="border-t-[1px] border-secondary-content my-1">
        <form #sendMessageForm="ngForm" (submit)="onSendMessage(sendMessageForm)">
            <div class="flex flex-row-reverse">
                <div class="grow form-control">
                    <textarea
                        id="content"
                        name="content"
                        class="textarea flexs textarea-ghost focus:bg-neutral focus:outline-none"
                        placeholder="{{ 'forms.new-message' | translate }}"
                        [(ngModel)]="message"
                        required
                        maxlength="3000"
                        (keydown)="onKeyDown($event, sendMessageForm)"
                    >
                    </textarea>
                </div>
                <div class="my-auto">
                    <app-limit-loader [limit]="1">
                        <button>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32px"
                                height="32px"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <path
                                    d="M11.5003 12H5.41872M5.24634 12.7972L4.24158 15.7986C3.69128 17.4424 3.41613 18.2643 3.61359 18.7704C3.78506 19.21 4.15335 19.5432 4.6078 19.6701C5.13111 19.8161 5.92151 19.4604 7.50231 18.7491L17.6367 14.1886C19.1797 13.4942 19.9512 13.1471 20.1896 12.6648C20.3968 12.2458 20.3968 11.7541 20.1896 11.3351C19.9512 10.8529 19.1797 10.5057 17.6367 9.81135L7.48483 5.24303C5.90879 4.53382 5.12078 4.17921 4.59799 4.32468C4.14397 4.45101 3.77572 4.78336 3.60365 5.22209C3.40551 5.72728 3.67772 6.54741 4.22215 8.18767L5.24829 11.2793C5.34179 11.561 5.38855 11.7019 5.407 11.8459C5.42338 11.9738 5.42321 12.1032 5.40651 12.231C5.38768 12.375 5.34057 12.5157 5.24634 12.7972Z"
                                    class="stroke-base-content"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </app-limit-loader>
                </div>
            </div>
        </form>
    </div>
</div>
