<div class="flex flex-col">
  <a class="btn btn-ghost min-h-8 h-8 my-1" routerLinkActive="bg-neutral" routerLink="/forum/sections">
    {{ 'menu.main' | translate}}
  </a>
  <a class="btn btn-ghost min-h-8 h-8 my-1" routerLinkActive="bg-neutral" routerLink="/forum/recent">
    {{ 'menu.recent' | translate}}
  </a>
  <a
    class="btn btn-ghost min-h-8 h-8 my-1"
    routerLinkActive="bg-neutral"
    routerLink="/chats"
    *ngIf="user"
  >
  {{ 'menu.chats' | translate}}
  </a>
  <a
    class="btn btn-ghost min-h-8 h-8 my-1"
    routerLinkActive="bg-neutral"
    routerLink="/forum/admin-panel"
    *ngIf="user && (user.role == roles.ADMIN || user.role == roles.MODER)"
  >
  {{ 'menu.admin-panel' | translate}}
  </a>

  <a class="btn btn-accent btn-outline min-h-min h-8 mt-3"
    routerLinkActive="bg-neutral"
    routerLink="/forum/new-topic"
    *ngIf="user"
  >
    {{ 'lables.new-topic' | translate }}
  </a>

  <div class="mt-5">
    <div class="collapse collapse-arrow">
      <input type="checkbox" name="shortcutItem"/>
      <div class="collapse-title font-medium">
        {{ 'menu.sections' | translate}}
      </div>
      <div class="collapse-content">
        <div class="join join-vertical">
          <div *ngFor="let sect of sections">
            <div class="collapse collapse-arrow join-item border border-neutral">
              <input type="radio" name="sectionItem" tabindex="-1"/>
              <div class="collapse-title font-medium">
                {{sect.section.title}}
              </div>
              <div class="collapse-content">
                <a
                  class="link no-underline group"
                  *ngFor="let forum of sect.forums"
                  routerLink="/forum/{{forum.id}}"
                >
                  <div class="border-b-[1px] border-neutral group-hover:border-secondary-content mt-1 py-0.5" routerLinkActive="border-accent">
                    {{forum.title | slice:0:10}}{{forum.title.length > 10 ? '...' : ''}}
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
