<div class="flex flex-col">
  <a class="btn btn-ghost min-h-8 h-8 my-1" routerLinkActive="bg-neutral" routerLink="/forum/sections">
    Main
  </a>
  <a class="btn btn-ghost min-h-8 h-8 my-1" routerLinkActive="bg-neutral" routerLink="/forum/recent">
    Recent
  </a>
  <a
    class="btn btn-ghost min-h-8 h-8 my-1"
    routerLinkActive="bg-neutral"
    routerLink="/chats"
    *ngIf="user"
  >
    Chats
  </a>
  <a
    class="btn btn-ghost min-h-8 h-8 my-1"
    routerLinkActive="bg-neutral"
    routerLink="/forum/admin-panel"
    *ngIf="user && (user.role == roles.ADMIN || user.role == roles.MODER)"
  >
    Admin panel
  </a>

  <div class="mt-5">
    <div class="collapse collapse-arrow">
      <input type="checkbox" name="shortcutItem"/>
      <div class="collapse-title font-medium">
        Sections
      </div>
      <div class="collapse-content">
        <div class="join join-vertical">
          <div *ngFor="let sect of sections">
            <div class="collapse collapse-arrow join-item border border-neutral">
              <input type="radio" name="sectionItem" class=""/>
              <div class="collapse-title font-medium">
                {{sect.section.title}}
              </div>
              <div class="collapse-content">
                <a
                  class="link no-underline group"
                  *ngFor="let forum of sect.forums"
                  routerLink="/forum/{{forum.id}}/1"
                  routerLinkActive=""
                >
                  <div class="border-b-[1px] border-neutral group-hover:border-secondary-content mt-1 py-0.5" routerLinkActive="border-base-content">
                    {{forum.title | slice:0:10}}{{forum.title.length > 10 ? '...' : ''}}
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
